<%- include("partials/header") %>

  <h1>Create Event</h1>

  <div class="card">

    <form action="/events/create" method="POST">

      <label>Event Name</label>

      <input type="text" name="name" placeholder="Trip to Goa" required>

      <button class="btn-primary">Create Event</button>

    </form>

  </div>

  <%- include("partials/footer") %>